@import "../assets/mixins";

.section-rules-one {
  .section-six {
    background: transparent;
    margin: 0;
    padding: 0;
    opacity: 0;
    height: 0;
    min-height: auto;
    overflow: hidden;
    .transition(all ease .3s);
  }

  &.show-modal{
    .section-six {
      opacity: 1;
      height: auto;
      //min-height: 100%;
    }
  }
}