.section-rules-one {
  padding-top: 49px;
  background: #000 url('../img/bg_item8.jpg') 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 600px;
  //min-width: 1024px;
  -webkit-transition: background-position 0.7s ease-out 0s;
  -o-transition: background-position 0.7s ease-out 0s;
  transition: background-position 0.7s ease-out 0s;
  position: relative;
  padding-bottom: 30px;

  .title {
    color: #FFFFFF;
    font-size: 52px;
    font-weight: 300;
    line-height: 60px;
    text-align: center;
    margin-bottom: 9px;


  }

  .text {
    color: #CDDFE0;
    font-family: "PT Serif", "PTSerif", Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;

    @media(max-width: (1024px - 1px)){
      margin: 0 20px 25px;
    }

    a{
      color: #CDDFE0;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }

    }
  }

  .content {
    position: relative;
    z-index: 1;
    margin-top: 60px;
  }

  .cto-button {
    display: block;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    width: 270px;
    height: 67px;
    line-height: 67px;
    border-radius: 8px;
    text-decoration: none;
    background-color: #1C91F8;
    margin: 0 auto 50px;
    text-align: center;

    &:hover {
      background-color: lighten(#1C91F8, 10%);
    }
  }
}

@import "1-1";