
.section-one {
  //padding-top: 49px;
  padding-top: 0;
  background: #000 url('../img/bg_item1.jpg') 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 600px;
  min-width: 320px;
  -webkit-transition: background-position 0.7s ease-out 0s;
  -o-transition: background-position 0.7s ease-out 0s;
  transition: background-position 0.7s ease-out 0s;

  padding-bottom: 100px;

  box-sizing: border-box;

  .content {
    width: 100%;
    text-align: center;
    color: #fff;

    h1 {
      margin: 0 0 10px 0;
      font-size: 52px;
      line-height: 60px;
      letter-spacing: -0.2px;
      font-family: 'Intro-bold', Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    span {
      font-family: 'PT Serif', serif;
      color: #CDDFE0;
      font-size: 20px;
      line-height: 26px;
      display: inline-block;
      margin-bottom: 52px;

      @media(max-width: 1024px){
        margin: 0 20px 52px;
      }
    }
  }

  .cto-button {
    display: block;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    width: 270px;
    height: 67px;
    line-height: 67px;
    border-radius: 8px;
    text-decoration: none;
    background-color: #1C91F8;
    margin: 0 auto;

    &:hover {
      background-color: lighten(#1C91F8, 10%);
    }
  }
}