.section-two {
  background: #000 url('../img/bg_item2.jpg') 50% no-repeat;
  min-height: 500px;
  min-width: 320px;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-transition: background-position 0.7s ease-out 0s;
  -o-transition: background-position 0.7s ease-out 0s;
  transition: background-position 0.7s ease-out 0s;
  position: relative;
  padding-top: 270px;

  .mark-container {
    display: block;
    margin: 0 auto;
    max-width: 600px;
    width: 600px;
    z-index: 2;
    position: relative;
    text-align: center;
    @media(max-width: 640px){
      width: auto;
      margin: 0 10px;
    }
    span {
      background-color: #fff;
      font-family: 'PT Serif', serif;
      font-size: 28px;
      line-height: 40px;
      padding: 0 10px;
      display: inline-block;
      margin-bottom: 10px;
    }

  }

  .triangle {
    background: url('../img/triangle.png') 50% no-repeat;
    position: absolute;
    bottom: 0;
    width: 946px;
    height: 335px;
    background-size: 946px 335px;
    left: ~"calc(50% - 473px)";

    @media(max-width: 946px){
      width: 100%;
      left: 0;
    }

    img {
      width: 400px;
      position: absolute;
      left: ~"calc(50% - 200px)";
      top: -206px;
      z-index: 1;
    }
  }
}



