.section-three {
  background: #000 url('../img/bg_item3.jpg') 50% no-repeat;
  min-height: 600px;
  min-width: 320px;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-transition: background-position 0.7s ease-out 0s;
  -o-transition: background-position 0.7s ease-out 0s;
  transition: background-position 0.7s ease-out 0s;
  position: relative;
  padding-top: 166px;
  text-align: center;

  .content {
    h1 {
      font-family: 'PT Serif', serif;
      font-size: 55px;
      line-height: 71px;
      color: #fff;
      font-weight: normal;
      text-align: center;
      margin-bottom: 13px;
    }
    span {
      text-align: center;
      font-size: 25px;
      line-height: 32px;
      font-weight: normal;
      color: #fff;
    }
  }

  .unicorn {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 941px;
    left: ~"calc(50% - 470px)";

    @media(max-width:941px){
      left: 0;
    }
  }

}

