
.section-four {
  background: #000 url('../img/bg_item4.jpg') 50% no-repeat;
  min-height: 443px;
  min-width: 320px;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-transition: background-position 0.7s ease-out 0s;
  -o-transition: background-position 0.7s ease-out 0s;
  transition: background-position 0.7s ease-out 0s;
  position: relative;
  text-align: center;

  .content {
    height: 443px;
    background: url('../img/round.png') 50% no-repeat;

    h1 {
      position: relative;
      top: ~"calc(50% - 60px)";
      font-family: 'PT Serif', serif;
      font-size: 50px;
      line-height: 65px;
      font-weight: normal;
      margin: 0;

    }
  }
}


