
.section-five {
  background: #000 url('../img/bg_item5.jpg') 50% no-repeat;
  min-height: 601px;
  min-width: 320px;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-transition: background-position 0.7s ease-out 0s;
  -o-transition: background-position 0.7s ease-out 0s;
  transition: background-position 0.7s ease-out 0s;
  position: relative;
  text-align: center;
  padding-top: 45px;

  .content {
    padding-bottom: 98px;

    h1 {
      position: relative;
      font-family: 'PT Serif', serif;
      font-size: 50px;
      line-height: 65px;
      font-weight: normal;
      color: #fff;
      top: auto;
    }
  }

  .item-container {
    min-width: 1024px;
    display: block;
    margin: 0 auto;

    padding-bottom: 50px;

  }

  .round-item {
    float: left;
    margin-left: 0;

    width: 100%/3;
    text-align: center;

    &:first-child {
      margin-left: 0;
    }

    img {
      width: 150px;
      margin-bottom: 39px;
    }

    .round-text {
      text-align: center;
      margin: 0 auto;
      width: 100%;
      div {

        font-family: 'PT Serif', serif;
        margin: 0 auto;
        font-weight: 300;
        float: none;
        max-width: auto;
        font-size: 20px;
        line-height: 26px;
        color: #fff;
      }

    }

    &:nth-child(2) .round-text div {
      //min-width: 353px;
      //margin-left: 65px;
    }

    &:nth-child(3) .round-text div {
      //max-width: 353px;
      //margin-left: 94px;
    }
  }

  @media (max-width: (1024px - 1px)) {
    .item-container {
      min-width: 100%;
      width: 100%;
      margin: 0;
      padding: 0 20px 50px;
    }
  }

  @media (max-width: (640px)) {
    .item-container {
      //min-width: 100%;
      //margin: 0 20px;
    }

    .round-item {
      margin-bottom: 40px;

      width: 100%;

      &:first-child {
      }

      img {
      }

      .round-text {
        div {

        }

      }

    }
  }
}