@import "../assets/mixins";

.section-six {

  //background: #000 url('../img/bg_item6.jpg') 50% no-repeat;
  //min-height: 688px;
  //min-width: 1024px;
  //-webkit-background-size: cover;
  //background-size: cover;
  //-webkit-transition: background-position 0.7s ease-out 0s;
  //-o-transition: background-position 0.7s ease-out 0s;
  //transition: background-position 0.7s ease-out 0s;
  //position: relative;
  //text-align: center;
  //padding-top: 145px;

  .box {
    .transition(all ease .3s);
    .translate(0, 400px);
    .scale(.8, .1);
    opacity: 0;
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 143px;
    background: #1C91F8;
    border-radius: 8px;
    width: 624px;
    height: 378px;
    margin: 0 auto;
    padding-top: 78px;

    @media (max-width: 640px) {
      width: auto;
      margin: 0 20px;
    }

    h2 {
      font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
      font-size: 51px;
      color: #FFFFFF;
      text-transform: uppercase;
      font-weight: 300;
      margin-bottom: 7px;
      margin-top: 0;
    }

    p {
      font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
      font-size: 26px;
      color: #FFFFFF;
      margin-top: 0;
      margin-bottom: 34px;
    }

    .social {
      width: (487px + 37px/2);
      margin: 0 auto;
      text-align: center;

      @media (max-width: 640px) {
        width: auto;
        margin: 0 20px;
      }

      a {

        float: left;
        width: 100%/5;
        text-align: center;

        padding: 0 36px/2;
        box-sizing: border-box;

        margin: 0;

        @media (max-width: 640px) {
          width: 100%/5;
          display: inline-block;
          padding: 0 36px/4;
        }

        img {
          width: 67px;
          height: 67px;
          border-radius: (68px/2);

          @media (max-width: 640px) {
            width: 67px/1.2;
            height: 67px/1.2;
          }

          @media (max-width: 375px) {
            width: 67px/1.4;
            height: 67px/1.4;
          }
        }
        &:hover {
          img {
            background: darken(#1C91F8, 10%);
          }
        }
      }

    }
  }

  &.show-social {
    .box {
      z-index: 1;
      opacity: 1;

      .translate(0, 0);
      .scale(1, 1);
    }

    form {
      z-index: 0;
      opacity: 0;
      .scale(0, 1);
    }

    .bottom {
      z-index: 0;
      opacity: 0;
      .scale(0, 1);
    }
  }

}