@import "../assets/mixins";

.section-six {

  background: #000 url('../img/bg_item6.jpg') 50% no-repeat;
  min-height: 688px;
  min-width: 320px;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-transition: background-position 0.7s ease-out 0s;
  -o-transition: background-position 0.7s ease-out 0s;
  transition: background-position 0.7s ease-out 0s;
  position: relative;
  text-align: center;
  padding-top: 145px;

  form {
    .transition(all ease .3s);
    opacity: 1;
    z-index: 1;
    position: relative;
    max-width: 624px;
    display: block;
    margin: 0 auto;
    @media (max-width: 640px) {
      width: auto;
      margin: 0 20px;
    }
    input {
      color: #9B9B9B;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.5px;
      font-weight: normal;
      font-family: "Helvetica Neue", Helvetica, sans-serif;
      padding: 0 24px;
    }
    h1 {
      font-size: 26px;
      line-height: 32px;
      font-family: "Helvetica Neue", Helvetica, sans-serif;
      color: #fff;
      font-weight: normal;
      margin: 0 0 40px 0;
    }
  }

  .name {
    margin-bottom: 20px;
  }
  .name {
    input {
      float: left;

      @media (max-width: (640px)) {
        float: none;
        width: 100%;

        & + input {
          margin-top: 20px;
        }
      }
    }
  }

  .name, .email, .submit, .project {
    input {
      width: 100%;
      max-width: 302px;
      margin-left: 20px;
      height: 67px;
      border-radius: 8px;
      background-color: rgba(0, 0, 0, 0.5);
      border: 0 none;

      @media (max-width: (640px)) {
        max-width: 100%;
        margin-left: 0;
      }
      &:focus {
        background-color: rgba(0, 0, 0, .7);
      }

      &.error {
        background-color: rgba(50, 0, 0, 0.5);
        box-shadow: inset 0 0 1px #ff0000;
      }

      &.success {
        background-color: rgba(0, 50, 0, 0.5);
        box-shadow: inset 0 0 1px #00ff00;
      }

    }
  }

  .name {
    input {
      &:first-child {
        margin-left: 0;
      }
    }
  }

  .email, .project, .submit {
    input {
      width: 100%;
      max-width: 100%;
      margin-left: 0;
      margin-bottom: 20px;
      float: none;

    }
  }
  .submit {
    input {
      background-color: #1C91F8;
      color: #fff;
      font-size: 18px;
      line-height: 22px;
      font-weight: normal;

      &:hover,
      &:focus {
        background-color: lighten(#1C91F8, 10%);
      }
    }
  }

  .project {
    @size: 25px;
    position: relative;
    input{
      padding-right: 67px;
    }
    .project-add, .project-remove {

      display: block;
      position: absolute;
      //top: (67px - 30px)/2;
      //right: (67px - 30px)/2;
      height: 67px;
      width: 67px;
      top: 0;
      right: 0;

      span {
        width: 30px;
        height: 30px;

        margin: (67px - 30px)/2;

        display: block;
        color: white;
        font-weight: 800;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: @size;
        line-height: 30px;

        background: #323232;

        border-radius: 15px;
      }
      .non-select();

      &:hover {
        span {
          background: lighten(#323232, 5%);
          cursor: pointer;
        }
      }
    }
    .project-add {

    }
    .project-remove span {
      line-height: 26px;
    }
  }

}