@import "../assets/mixins";

.section-seven {
  background: rgba(0, 51, 255, 0.7);
  min-height: 1068px;
  min-width: 320px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 0 0;
  -webkit-transition: background-position 0.7s ease-out 0s;
  -o-transition: background-position 0.7s ease-out 0s;
  transition: background-position 0.7s ease-out 0s;
  position: relative;
  text-align: center;
  padding-top: 58px;

  padding-bottom: (55px);

  .box {
    display: inline-block;
    margin-bottom: 44px;
    width: 270px;
  }

  .content {
    font-size: 20px;
    line-height: 29px;
    font-family: 'PT Serif', serif;
    color: #fff;
    font-weight: normal;
    max-width: 769px;
    margin: 0 auto 139px auto;

    @media (max-width: 640px) {
      margin: 0 20px 139px;
    }

    p {
      margin: 0 0 35px 0;
      a {
        color: #FF85FF;
        margin-bottom: 0;
        display: initial;
        text-decoration: none;
        &:hover {
          color: #7ED321;
        }
      }
    }

    span {
      color: #fff;
    }
  }

  .social {
    margin-bottom: 55px;

    img {
      width: 104px;
      border-radius: 52px;
    }

    a {
      display: inline-block;
      margin-left: 57px;

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        img {
          background: rgba(0, 51, 255, .7);
          //
        }
      }
    }

    @media (max-width: (1024px - 1px)) {
      a {
        margin-left: 17px;
        &:first-child {
          margin-left: 0;
        }
      }
    }

    @media (max-width: (640px)) {
      img {
        width: 104px/2;
        border-radius: 52px;
      }
    }
  }

  .faq,
  .mailto {
    font-size: 20px;
    line-height: 33px;
    display: block;
    font-family: 'PT Serif', serif;
    color: #fff;
    font-weight: normal;
  }

  .mailto {
    margin-bottom: 78px;
  }

  .ss-btn {
    background: white;
    text-transform: uppercase;

    border-radius: 8px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 18px;
    color: #0033FF;
    letter-spacing: 0.45px;
    line-height: 67px;
    padding: 0 55px;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 77px;

    &:hover {
      background: darken(#0033FF, 0%);
      color: white;
    }
  }

  .copyright {
    opacity: 0.5;
    font-family: "PT Serif", sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 33.79px;
  }

  .box-popup {
    position: absolute;
    z-index: 1;
    top: 300px;
    left: 0;
    right: 0;
    background: #FFFFFF;
    border-radius: 19px;
    margin: 0 50px 0;
    display: block;
    text-align: left;

    .transition(all ease .3s);
    .translate(0, 300px);
    .scale(.3, 0);
    opacity: 0;

    .content-popup {
      padding: 71px 53px 360px;
      h1, h2, p {
        font-family: "PT Serif", "PTSerif", sans-serif;
        font-size: 20px;
        color: #0033FF;
        line-height: 29px;
      }
      h1, h2 {
        text-transform: uppercase;
        font-weight: 500;
      }

      a {
        color: #0033FF;
        font-weight: 700;
        text-decoration: none;
        &:hover {
          color: darken(#0033FF, 10%);
        }
      }
    }
  }

  &.show-modal {

    .box-popup {
      .translate(0, 0);
      .scale(1, 1);
      opacity: 1;
    }
  }

}

