//.section-eight {
//  /* Overlay: */
//  background: fade(#0033FF, 70%);
//  padding-top: 59px;
//  padding-bottom: 25px;
//
//  .box {
//    background: #FFFFFF;
//    border-radius: 19px;
//    margin: 0 auto 131px;
//    max-width: 1245px;
//    display: block;
//    min-width: 1024px;
//
//    .content {
//      padding: 71px 53px 432px;
//      h1, h2, p {
//        font-family: "PT Serif", "PTSerif", sans-serif;
//        font-size: 20px;
//        color: #0033FF;
//        line-height: 29px;
//      }
//      h1, h2 {
//        text-transform: uppercase;
//        font-weight: 500;
//      }
//
//      a {
//        color: #0033FF;
//        font-weight: 700;
//        text-decoration: none;
//        &:hover {
//          color: darken(#0033FF, 10%);
//        }
//      }
//    }
//  }
//
//  .copyright {
//    text-align: center;
//    opacity: 0.5;
//    font-family: "PT Serif", sans-serif;
//    font-size: 20px;
//    color: #FFFFFF;
//    line-height: 33.79px;
//  }
//}