.top-nav {
  //display: block;
  margin: 0 auto 90px auto;
  min-width: 800px;
  width: 800px;
  position: relative;
  z-index: 1;
  //display: table;

  @media (max-width: (1024px - 1px)) {
    width: auto;
    min-width: 320px;

  }

  .logo {
    //position: absolute;
    //top: 0;
    //left: 0;
    img {
      width: 80px;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    line-height: 79px;
    text-align: left;
    margin: 10px 0 0 0;
    display: block;
    float: none;
    @media (max-width: (1024px - 1px)) {
      text-align: center;

    }
    li {
      vertical-align: middle;
      display: inline-block;
      //display: table-cell;
      text-align: left;
      //float: left;
      //margin-right: 30px;
      margin-right: 30px;
      width: auto;
      float: none;

      &.empty {
        width: (62px + 80px - 30px);
      }
      a {
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #CEDFE1;
        text-decoration: none;
        font-family: "Helvetica Neue", Helvetica, sans-serif, Arial;
        font-weight: 700;
        display: block;
        padding: 36px 0 10px;

        &:hover {
          color: #7ED321;
        }
      }

      &.active {
        a {
          cursor: default;
          color: #7ED321;
        }
      }
      @media (max-width: (1024px - 1px)) {
        text-align: center;
        a {
          padding: 10px;
        }

        &:first-child {
          display: block;
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}
