.section-one.block(data-scrollbg='true')
  include nav
  .content
    h1 Кудаблин? Тудаблин!
    span
      | Программа запуска блогеров к звездам
      br
      | С нас путешествия и интересные задания, с вас &#8212; крутые истории

    a.cto-button(data-scroll="true", data-href="form", href='./index.html#form') УЧАСТВОВАТЬ