.section-two.block(data-scrollbg='true')#what
  .triangle
    img(src='img/abs_item1.png', alt='OTT')
  .mark-container
    span Завидуешь чувакам, чей инстаграм
    span пестрит картинками экзотический мест,
    span водопадами и полянами с единорогами?