.section-three.block(data-scrollbg='true')
  .content
    h1 Хватит это терпеть!
    span
      | Бери удачу за хвост и пиши свою
      br
      |  историю путешествий.
  img.unicorn(src='img/unicorn.png', alt='Unicorn!')