.section-five.block(data-scrollbg='true')
  .content
    h1
      | Прими участие
      br
      |  в рулетке OneTwoTrip!
  .item-container.clearfix
    .round-item
      img(src='img/round_item1.png')
      .round-text
        div
          | Заполни анкету, расскажи друзьям
          br
          | о рулетке от OneTwoTrip
          br
          | и жди задание
    .round-item
      img(src='img/round_item2.png')
      .round-text
        div
          | Получив задание, расскажи о нем
          br
          | на своей странице в социальной сети илив&nbsp;блоге
    .round-item
      img(src='img/round_item3.png')
      .round-text
        div
          | Узнал куда, блин, и зачем ехать?
          br
          | Ноги в руки и вперед!
          br
          | И про отчет о поездке не забывай ;)