.section-seven.block(data-scrollbg='true')
  img.box(src='img/box.png')
  .content
    p
      | Расскажи о нашем проекте друзьям в соцсеточках или напиши о своих приключениях, поставив хэштеги #кудаблин #тудаблин #kudablin #tudablin,  и получи шанс на участие в нашем проекте! Прощайся с прокрастинацией  и собирай чемодан, блин!
      br
      | Поделись своими приключениями с друзьями!
      //-| Любой, кто расскажет о нашем проекте друзьям в соцсеточках или напишет о своих приключениях и поставит наши хэштеги
      //-a(href="#")!= " #кудаблин"
      //-a(href="#")!= " #тудаблин"
      //-a(href="#")!= " #kudablin"
      //-a(href="#")!= " #tudablin"
      //-!= " #кудаблин #тудаблин #kudablin #tudablin"
      //-| , также получит шанс на участие в нашем проекте!
    //-span
      | Хватит это терпеть, давайте уже поедем туда, блин!
      br
      | А потом расскажем об этом всему свету!
  .social
    a.social-share(data-share="vk", href='#')
      img(src='img/social1.png', alt='')
    a.social-share(data-share="fb", href='#')
      img(src='img/social2.png', alt='')
    a.social-share(data-share="gp", href='#')
      img(src='img/social3.png', alt='')
    a.social-share(data-share="tw", href='#')
      img(src='img/social4.png', alt='')
    a.social-share(data-share="ok", href='#')
      img(src='img/social5.png', alt='')
  span.faq По всем вопросам обращаться по адресу
  a.mailto(href='mailto:kudablin@onetwotrip.com') kudablin@onetwotrip.com
  //-a(href="#").modal-open.ss-btn Условия акции
  .copyright Copyright © OneTwoTrip 2016

  //-.box-popup.modal
    .content-popup
      h1 УСЛОВИЯ АКЦИИ
      h2 1. ОБЩИЕ ПОЛОЖЕНИЯ
      p
        | Любой, кто расскажет о нашем проекте друзьям в соцсеточках или напишет
        | о своих приключениях и поставит наши хэштеги
        a(href="#")!= " #кудаблин"
        a(href="#")!= " #тудаблин"
        a(href="#")!= " #kudablin"
        a(href="#")!= " #tudablin"
        | , также получит шанс на участие в нашем проекте!
      p
        | Хватит это терпеть, давайте уже поедем туда, блин!
        | А потом расскажем об этом всему свету!
      p ...