//-.section-eight.block(data-scrollbg='true')
  .box
    .content
       h1 УСЛОВИЯ АКЦИИ
       h2 1. ОБЩИЕ ПОЛОЖЕНИЯ
       p
        | Любой, кто расскажет о нашем проекте друзьям в соцсеточках или напишет
        | о своих приключениях и поставит наши хэштеги
        a(href="#")!= " #кудаблин"
        a(href="#")!= " #тудаблин"
        a(href="#")!= " #kudablin"
        a(href="#")!= " #tudablin"
        | , также получит шанс на участие в нашем проекте!
       p
        | Хватит это терпеть, давайте уже поедем туда, блин!
        | А потом расскажем об этом всему свету!
       p ...
  .copyright Copyright © OneTwoTrip 2016
