form.form-register.clearfix(action='')
  h1 Заполни анкету и стань участником
  .name.clearfix
    input(type='text', name="name", placeholder='Ваше имя')
    input(type='text', name="surname", placeholder='Ваша фамилия')
  .email
    input(type='text', name="email", placeholder='Ваш e-email')
  .project
    input(type='text', name="projects[]", placeholder='Ссылка на ваш профиль в соц. сети или блог')
    a.project-add
      span +
  .submit
    input(type='submit', value='ОТПРАВИТЬ ЗАЯВКУ')