.box
  h2 Супер!
  p Расскажи друзьям
  .social.clearfix
    a.social-share(data-share="vk",href='#')
      img(src='img/social1.png', alt='')
    a.social-share(data-share="fb", href='#')
      img(src='img/social2.png', alt='')
    a.social-share(data-share="gp", href='#')
      img(src='img/social3.png', alt='')
    a.social-share(data-share="tw", href='#')
      img(src='img/social4.png', alt='')
    a.social-share(data-share="ok", href='#')
      img(src='img/social5.png', alt='')