.top-nav.clearfix

  ul
    li.empty
      a.logo(href='./index.html')
        img(src='img/logo.png', alt='OTT')
    li
      a(data-scroll="true", data-href="what", href='./index.html#what') О ЧЕМ ЭТО И КАК РАБОТАЕТ?
    //-li
      a(href='./rules.html') ЗАДАНИЯ ДЛЯ ПОЕЗДКИ
    li
      a(href='#https://www.onetwotrip.com/ru/blog/kudablin') БЛОГ КУДАБЛИНА
    li
      a(href='./insta.html') #КУДАБЛИН
