@import "selector";

.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.placeholder(@styles) {
  &::-webkit-input-placeholder {
    @styles();
  }
  /* Firefox 19+ */
  &::-moz-placeholder {
    @styles();
  }
  /* Firefox 18- */
  &:-moz-placeholder {
    @styles();
  }
  &:-ms-input-placeholder {
    @styles();
  }
}

