@font-face {
  font-family: 'Intro';
  src: url('../fonts/IntroRegular.eot');
  src: url('../fonts/IntroRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/IntroRegular.woff') format('woff'),
  url('../fonts/IntroRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro-bold';
  src: url('../fonts/intro_bold.eot');
  src: url('../fonts/intro_bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/intro_bold.woff') format('woff'),
  url('../fonts/intro_bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'intro_lightregular';
  src: url('../fonts/intro-light-webfont.eot');
  src: url('../fonts/intro-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/intro-light-webfont.woff2') format('woff2'),
  url('../fonts/intro-light-webfont.woff') format('woff'),
  url('../fonts/intro-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'intro_blackregular';
  src: url('../fonts/8441.eot');
  src: url('../fonts/8441.eot?#iefix') format('embedded-opentype'),
  url('../fonts/8441.woff2') format('woff2'),
  url('../fonts/8441.woff') format('woff'),
  url('../fonts/8441.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}