@import "reset";
@import "font";
@import "sections/nav";

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

.main-container {
  min-width: 1024px;

  @media (max-width: (1024px - 1px)) {
    min-width: 320px;
  }
}

@import "sections/1";
@import "sections/2";
@import "sections/3";
@import "sections/4";
@import "sections/5";
@import "sections/6";
@import "sections/6-1";
@import "sections/7";
@import "sections/8";

@import "insta/1";
@import "insta/2";

@import "rules/1";
@import "rules/2";

@import "mixin";

.block {
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;

  .mediaTelephone({ background-attachment: local; })
}