.transform(@str) {
  -webkit-transform+_: @str;
  -moz-transform+_: @str; //
  -ms-transform+_: @str; // IE9 only
  -o-transform+_: @str; //
  transform+_: @str;
}

// Transformations
.scale(@ratio) {
  .transform(scale(@ratio));
}

.scale(@ratioX; @ratioY) {
  .transform(scale(@ratioX, @ratioY));
}

.scaleX(@ratio) {
  .transform(scaleX(@ratio));
}

.scaleY(@ratio) {
  .transform(scaleY(@ratio));
}

.skew(@x; @y) {
  .transform(skewX(@x));
  .transform(skewY(@y));
}

.translate(@x; @y) {;
  .transform(translate(@x, @y));
}

.translateZ(@z){
  .transform(translateZ(@z));
}

.translate3d(@x; @y; @z) {;
  .transform(translate3d(@x, @y, @z));
}

.rotate(@degrees) {;
  .transform(rotate(@degrees));
}

.rotateX(@degrees) {;
  .transform(rotateX(@degrees));
}

.rotateY(@degrees) {
  .transform(rotateY(@degrees));
}

.rotateZ(@degrees) {
  .transform(rotateZ(@degrees));
}

.perspective(@perspective) {
  -webkit-perspective: @perspective;
  -moz-perspective: @perspective;
  perspective: @perspective;
}

.perspective-origin(@perspective) {
  -webkit-perspective-origin: @perspective;
  -moz-perspective-origin: @perspective;
  perspective-origin: @perspective;
}

.transform-origin(@origin) {
  -webkit-transform-origin: @origin;
  -moz-transform-origin: @origin;
  -ms-transform-origin: @origin; // IE9 only
  -o-transform-origin: @origin; // IE9 only
  transform-origin: @origin;
}