.section-rules-one.block(data-scrollbg='true')
  include ../sections/nav
  h2.title Какие задания? Такие!
  .text
    | Здесь мы будем собирать самые крутые задания для наших участников,
    br
    | чтобы они не расслаблялись и всем было интересно читать о приключениях
  .text
    | Ведь свалить на пару дней, даже «куда глаза глядят», просто так неинтересно.
    br
    | Куда интереснее уехать с крутой миссией, а потом рассказать всему миру о ее выполнении!
  .text
    | Голосуй за уже опубликованные задания, а также присылай любые мысли
    br
    != "о том, как озадачить наших участников на "
    a(href="mailto:kudablin_quest@onetwotrip.com") kudablin_quest@onetwotrip.com
    | .
    br
    strong
      | Обещаем, что самые смелые задумки будут реализованы в первую очередь!
  .content
    a.cto-button.modal-open(data-scroll="true", data-href="form", data-modal-height="true", href='./index.html#form') УЧАСТВОВАТЬ

  include 1-1