mixin tr(num, text, count)
  tr
    td.num!= num
    td.empty
    td.text!= text
    //-td.empty
    //-td.social
      a(href="#")
        img(src="./img/s1.png")
      a(href="#")
        img(src="./img/s2.png")
      a(href="#")
        img(src="./img/s3.png")
      a(href="#")
        img(src="./img/s4.png")
      a(href="#")
        img(src="./img/s5.png")
    //td.empty
    //td.count
    //  != count
    //-td.smile
      img(src="./img/smile.png")

.section-rules-two
  .back_top
  .title Задания в студию!
  .back_unicorn
    img(src="./img/unicorn2.png")

  .back_unicorn_2
    img(src="./img/unicorn3.png")
  .table
    table
      +tr(1, "Сделать селфи с 10 полицейскими", 10560)
      +tr(2, "Снять видео: демонстрация доброты и щедрости местного населения. Попроси первого встречного подвезти тебя беслатно до отеля. Особое условие: ты забыл, где твой отель", 2)
      +tr(3, "Снять шок-видео: попытайся купить авиабилет и забронировать отель в Тель-Авиве прямо в билетной кассе на любой автобусной остановке. Легенда: мне надо вернуться в Израиль", 3)
      +tr(4, "Напросись на экскурсию в три отделения местной полиции", 4)
      +tr(5, "Пересдать свой гостиничный номер, а на заработанные деньги снять комнату", 5)
      +tr(6, "Организовать пикет «За вечную жизнь!» у морга (или «Жизнь после смерти!»)", 6)
      +tr(7, "Устроиться на работу и получить зарплату", 7)
      +tr(8, "Слетать на параплане. Даже если в городе нет парапланов.", 8)
      +tr(9, "Выбрать самый длинный маршрут общественного транспорта, проследовать по нему и познакомиться по дороге с водителем", 9)
      +tr(10, "Подарить 10 местным бабушкам цветы и передать привет на камеру", 10)
      tr.empty
        td
        td.empty
        td
        //-td.empty
        //-td
        //td.empty
        //-td
        //td
  .faq По всем вопросам обращаться по адресу
  a.mailto(href='mailto:kudablin@onetwotrip.com') kudablin@onetwotrip.com
  .copyright Copyright © OneTwoTrip 2016
