.section-insta-one {
  padding-top: 49px;
  background: #000 url('../img/bg_item2.jpg') 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 600px;
  //min-width: 1024px;
  -webkit-transition: background-position 0.7s ease-out 0s;
  -o-transition: background-position 0.7s ease-out 0s;
  transition: background-position 0.7s ease-out 0s;
  position: relative;

  overflow: hidden;

  .triangle {
    @w: 946px;
    @h: 335px;
    @w: 1412px;
    @h: 548px;
    @left: @w/2;

    background: url('../img/triangle2.png') 50% no-repeat;
    position: absolute;
    top: 54px + 80px;
    width: @w;
    height: @h;
    background-size: @w @h;
    left: ~"calc(50% - @{left})";
    z-index: 0;

    img {
      width: 400px;
      position: absolute;
      left: ~"calc(50% - 200px)";
      top: -206px;
      z-index: 1;
    }
  }

  .photos {
    position: relative;
    z-index: 1;
    max-width: (35px/2*6)+361px*3;
    margin: 0 auto (38px - 35px/2);
    .photo {
      width: 100%/3;
      float: left;
      padding: 35px/2;
      box-sizing: border-box;
      img {
        width: 100%;
      }

      @media (max-width: (1024px - 1)) {
        //width: 100%/2;
      }

      @media (max-width: (640px)) {
        width: 100%/2;
        padding: 10px;
      }
    }
  }

  .more {
    text-align: right;
    max-width: (35px/2*6)+361px*3;
    margin: 0 auto 29px;
    padding-right: (35px/2 - 10px);
    box-sizing: border-box;
    a {
      font-family: "Helvetica Neue", "HelveticaNeue", "Helvetica", Arial, sans-serif;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: 0.45px;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 300;
      padding: 0 10px;

      &:hover {
        background-color: lighten(#1C91F8, 10%);
      }
    }
  }

  .content {
    position: relative;
    z-index: 1;
  }

  .mark-container {
    display: block;
    margin: 0 auto;
    //max-width: 600px;
    //width: 800px;
    z-index: 2;
    position: relative;
    text-align: center;
    span {
      display: inline-block;
      background-color: #fff;
      font-family: 'PT Serif', serif;
      font-size: 28px;
      line-height: 40px;
      padding: 0 10px;
      margin-bottom: 10px;
    }
  }

  .cto-button {
    display: block;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    width: 270px;
    height: 67px;
    line-height: 67px;
    border-radius: 8px;
    text-decoration: none;
    background-color: #1C91F8;
    margin: 30px auto 50px;
    text-align: center;

    &:hover {
      background-color: lighten(#1C91F8, 10%);
    }
  }

  .faq,
  .mailto {
    font-size: 20px;
    line-height: 33px;
    display: block;
    font-family: 'PT Serif', serif;
    color: #fff;
    font-weight: normal;
    text-align: center;
  }

  .mailto {
    margin-bottom: 164px;
  }

  .copyright {
    opacity: 0.5;
    font-family: "PT Serif", sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 33.79px;
    text-align: center;
    padding-bottom: 23px;
  }
}