@import "../assets/mixins";

.section-six {
  .bottom {
    .transition(opacity ease .3s);
    z-index: 1;
    position: relative;
  }
  .social-text {
    font-family: "Helvetica Neue", "HelveticaNeue", "Helvetica", Arial, sans-serif;
    font-size: 26px;
    color: #FFFFFF;
    font-weight: 300;
    margin-bottom: 38px;
    margin-top: 38px;
  }
  .social {
    padding-bottom: 176px;

    img {
      width: 67px;
      border-radius: 52px;

      @media (max-width: 640px) {
        width: 50px;
      }
    }

    a {
      display: inline-block;
      margin-left: 57px;

      @media (max-width: 640px) {
        margin-left: 20px;
      }

      @media (max-width: 374px) {
        margin-left: 10px;
      }

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        img {
          background: rgba(0, 51, 255, .7);
          //
        }
      }
    }
  }
}