.section-insta-one.block(data-scrollbg='true')
  include ./../sections/nav

  .triangle
  .content
    .mark-container
      span Ставь хештеги #кудаблин #тудаблин #kudablin #tudablin
    .mark-container
      span и присоединяйся к команде
    .mark-container
      span блогеров OneTwoTrip!
    a.cto-button(data-scroll="true", data-href="form", href='./index.html#form') УЧАСТВОВАТЬ
  .photos.clearfix
    .photo
      img(src="http://placehold.it/361x361")
    .photo
      img(src="http://placehold.it/361x361")
    .photo
      img(src="http://placehold.it/361x361")
    .photo
      img(src="http://placehold.it/361x361")
    .photo
      img(src="http://placehold.it/361x361")
    .photo
      img(src="http://placehold.it/361x361")
  .more
    a(href="#") Смотреть далее
  span.faq По всем вопросам обращаться по адресу
  a.mailto(href='mailto:kudablin@onetwotrip.com') kudablin@onetwotrip.com
  .copyright Copyright © OneTwoTrip 2016

