extends layout


block body
  //-script(src="//api.instagram.com/v1/tags/bieber/media/recent?client_id=0f303625dcf6419392175df0cee66ba1&count=4&callback=test")
  //-script(src="https://code.jquery.com/jquery-2.2.2.min.js", integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=", crossorigin="anonymous")
  //-script.
    var clientid = 'fb2e77d.47a0479900504cb3ab4a1f626d174d2d',
            hashtag = 'wordcamprussia2015', // hashtag without # symbol
            num_photos = 4;

    $.ajax({

      url      : 'https://api.instagram.com/v1/tags/' + hashtag + '/media/recent',
      dataType : 'jsonp',
      type     : 'GET',
      data     : {

        client_id : clientid,
        count     : num_photos

      },
      success  : function (data) {
        console.log(data);
        for (x in data.data) {
          //$('ul').append('<li><img src="' + data.data[x].images.standard_resolution.url + '"></li>');
        }
      },
      error    : function (data) {
        console.log(data);
      }

    });
  .main-container
    include sections/1
    include sections/2
    include sections/3
    include sections/4
    include sections/5
    include sections/6
    include sections/7
    include sections/8

