html
  head
    meta(charset="UTF-8")
    title Кудаблин? Тудаблин! Программа OneTwoTrip по запуску тревел-блогеров к звездам
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")

    include og

    link(href='https://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css')
    //link(rel="stylesheet" href="css/style.css")
    link(rel="stylesheet" href="./css/index.css?_="+Date.now())
    script(src="./js/assets/jquery.min.js")
    script(src="./js/form.js")
    script(src="./js/modal.js")
    script(src="./js/scroll.js")
    script(src="./js/share.js")
  body
    block body

