meta(property="og:title" content="Стань тревел-блогером вместе с OneTwotrip!")
meta(property="og:url" content="http://dev.zachot.me/ott/KudaBlin_og/")

meta(property="og:image" content="http://dev.zachot.me/ott/KudaBlin/img/share/share_girl.png")
meta(property="og:image" content="http://dev.zachot.me/ott/KudaBlin/img/share/share_girl2.png")
meta(property="og:image" content="http://dev.zachot.me/ott/KudaBlin/img/share/share_photo.png")
meta(property="og:image" content="http://dev.zachot.me/ott/KudaBlin/img/share/share_space.png")
meta(property="og:image" content="http://dev.zachot.me/ott/KudaBlin/img/share/share_train.png")
meta(property="og:image" content="http://dev.zachot.me/ott/KudaBlin/img/share/share_unicorn.png")

meta(property="og:site_name" content="Стань тревел-блогером вместе с OneTwotrip!")
meta(property="og:description", content='Путешествуй бесплатно с OneTwoTrip! Пора встать с дивана, посмотреть мир и рассказать об этом всем!  Наполни жизнь впечатлениями!  За подробностями жми по ссылке. #onetwotrip #кудаблин')
meta(property="og:updated_time", content=Date.now())